CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - --gcc-toolchain=C:/mingw-w64/mingw64
    - -IC:/mingw-w64/mingw64/include
    - -IC:/mingw-w64/mingw64/include/c++/15.2.0
    - -IC:/mingw-w64/mingw64/include/c++/15.2.0/x86_64-w64-mingw32
    - -IC:/mingw-w64/mingw64/include/c++/15.2.0/backward
    - -IC:/SFML/include
    - -IC:/glfw/include
    - -IC:/glew/include


